$links: #ff375e;
$navBg: #580092;
$white: #ffffff;
$label: #616161;
$fontLight: stcFontLight;
$boldFont: boldFont;
$posterTitle: #1D252D;
$lightGrey: #b0b0b2;
$fb: #415CB1;
$google: #3C81F7;
$dropDownBg: #F3F3F1;